<div class="wrapper">
  <%= render 'layouts/partials/sidebar' %>
  <div class="main-panel">
    <%= render 'layouts/partials/navbar' %>
		<div class="content">
			<div class="choose-server-section">
				<div class="row">
					<div class="col-md-12 text-right">
					  <%= link_to "Add Product", new_product_path, class: "btn btn-primary" %>
					</div>  
				</div>
				<div class="row">
		      <div class="col-lg-3 col-md-6 col-sm-6">
		        <div class="card text-center bg-white rounded-0 product-card">
		        	<span class="deploy_checkbox_checkmark"></span>
		        	<%= image_tag "card1.svg", class: "card1-img" %>
		        	<div class="card-text">
		        		<h6>Large 1</h6>
		        	</div>
		        </div>
		      </div>
		      <div class="col-lg-3 col-md-6 col-sm-6">
		        <div class="card text-center bg-white rounded-0 product-card">
		        	<span class="deploy_checkbox_checkmark"></span>
		        	<%= image_tag "card1.svg", class: "card1-img" %>
		        	<div class="card-text">
		        		<h6>Large 2</h6>
		        	</div>
		        </div>
		      </div>
		      <div class="col-lg-3 col-md-6 col-sm-6">
		        <div class="card text-center bg-white rounded-0 product-card">
		        	<span class="deploy_checkbox_checkmark"></span>
		        	<%= image_tag "card1.svg", class: "card1-img" %>
		        	<div class="card-text">
		        		<h6>Large 3</h6>
		        	</div>
		        </div>
		      </div>
		      <div class="col-lg-3 col-md-6 col-sm-6">
		        <div class="card text-center bg-white rounded-0 product-card">
		        	<span class="deploy_checkbox_checkmark"></span>
		        	<%= image_tag "card1.svg", class: "card1-img" %>
		        	<div class="card-text">
		        		<h6>Medium 1</h6>
		        	</div>
		        </div>
		      </div>
		      <div class="col-lg-3 col-md-6 col-sm-6">
		        <div class="card text-center bg-white rounded-0 product-card">
		        	<span class="deploy_checkbox_checkmark"></span>
		        	<%= image_tag "card1.svg", class: "card1-img" %>
		        	<div class="card-text">
		        		<h6>Medium 2</h6>
		        	</div>
		        </div>
		      </div>
		      <div class="col-lg-3 col-md-6 col-sm-6">
		        <div class="card text-center bg-white rounded-0 product-card">
		        	<span class="deploy_checkbox_checkmark"></span>
		        	<%= image_tag "card1.svg", class: "card1-img" %>
		        	<div class="card-text">
		        		<h6>Medium 3</h6>
		        	</div>
		        </div>
		      </div>
		      <div class="col-lg-3 col-md-6 col-sm-6">
		        <div class="card text-center bg-white rounded-0 product-card">
		        	<span class="deploy_checkbox_checkmark"></span>
		        	<%= image_tag "card1.svg", class: "card1-img" %>
		        	<div class="card-text">
		        		<h6>Small 1</h6>
		        	</div>
		        </div>
		      </div>
		      <div class="col-lg-3 col-md-6 col-sm-6">
		        <div class="card text-center bg-white rounded-0 product-card">
		        	<span class="deploy_checkbox_checkmark"></span>
		        	<%= image_tag "card1.svg", class: "card1-img" %>
		        	<div class="card-text">
		        		<h6>Small 2</h6>
		        	</div>
		        </div>
		      </div>
		    </div>
		  </div>  
		</div>
		<%= render 'layouts/partials/footer' %>
	</div>
</div>
